@model List<IntelligentEmploymentSystem.Models.JobDescriptionModel>;


	<html>
		<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.0/css/dataTables.bootstrap5.css" />

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.0/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.0/js/dataTables.bootstrap5.js"></script>

   
		</head>

		<body>

    <table id="example" class="table table-striped">
        <thead>
            <tr>
                <th>JobTitle</th>
                <th>JobBrief</th>
                <th>Responsibilities</th>
                <th>Requirements</th>
                <th>Applicants</th>
   
            </tr>
        </thead>
        <tbody>
            @foreach(IntelligentEmploymentSystem.Models.JobDescriptionModel job in Model){
            <tr>
                <td>@job.JobTitle</td>
                <td>@job.JobBrief</td>
                <td>@job.Responsibilities</td>
                <td>@job.Requirements</td>
                    <td><a asp-route-jobId="@job.JobDescriptionId" asp-action="Applicants" asp-controller="Company"
                           class="btn btn-info" style="margin-bottom:10px">Applicants</a>
                        <a asp-route-jobId="@job.JobDescriptionId" asp-action="Remove" asp-controller="JobDescription"
                           class="btn btn-danger" >Remove</a>
                    </td>
            </tr>
            }

            
        </tbody>
    </table>

    <script>
        new DataTable('#example');
    </script>

		</body>
	</html>
